body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: antiquewhite;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

#title {
  font-size: 30px;
  font-weight: bolder;
}

#canvasWrap {
  display: grid;
  background-color: aliceblue;
  height: 500px;
  width: 500px;
  margin: 0;
}

.cell {
  background-color: blueviolet;
  border: 1px solid black;
}

#appWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

#contWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: aqua;
  padding: 10px;
  height: 30px;
}

#footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: aliceblue;
  padding: 30px;
  margin-top: auto;
}

#toolbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: darkgrey;
  height: 500px;
  margin-top: 45px;
}

#blkButton,
#rnbButton,
#clrButton {
  height: 80px;
  border-style: none;
  border: 1px solid black;
  cursor: pointer;
}

#blkButton:hover,
#rnbButton:hover,
#clrButton:hover,
#inpButton:hover {
  background-color: aqua;
}

#inpButton {
  border-style: none;
  border: 1px solid black;
  cursor: pointer;
  height: 30px;
}

#canvasValue {
  display: flex;
  font-weight: bolder;
  width: 80px;
  height: 30px;
}

.inpWrap {
  display: flex;
  flex-direction: column;
}

#inpCxt {
  margin: 5px;
  font-size: 12px;
}
